.fancy{
    text-align: center;
    font-family: "Source Code Pro"
}
h2 {
    font-family: Helvetica;
    text-decoration: underline;
    color: darkblue;
    text-decoration-color: black;
}

body{
    background-color: lightblue;
}