.fancy{
    text-align: center;
    font-family: "Source Code Pro";
    font-size: 60px;
}
h2 {
    font-family: Helvetica;
    text-decoration: underline;
    color: darkblue;
    text-decoration-color: black;
}

body{
    background-image: url('../img/back image.jpeg');
    background-repeat: no-repeat;
    background-size: 1500px 1700px;
}